In [1]:
import pandas as pd
academic = pd.read_feather('./feather/academic.feather')#.to_csv('./tables/academics.csv',index=False)

# Tables concerning inproceedings (conference articles)
improceeding = pd.read_feather('./feather/improceeding_table.feather')#.to_csv('./tables/improceedings=.csv',index=False)
author_inproceeding = pd.read_feather('./feather/author_inproceedings.feather')#.to_csv('./tables/inproceedings_authors.csv',index=False)
booktitle_improceeding = pd.read_feather('./feather/improceeding_booktitle.feather')#.to_csv('./tables/improceedings_booktitles.csv',index=False)

# All tables concerning articles(journal articles)
article = pd.read_feather('./feather/articles_table.feather')#.to_csv('./tables/articles.csv',index=False)
author_article = pd.read_feather('./feather/author_article.feather')#.to_csv('./tables/article_authors.csv',index=False)
journal = pd.read_feather('./feather/journals_table.feather')#.to_csv('./tables/journals.csv',index=False)


# All tables concerning proceedings (conference proceedings => bundled conference articles)
editor_proceeding = pd.read_feather('./feather/editor_proceedings.feather')#.to_csv('./tables/proceedings_editors.csv',index=False)
publisher_proceeding = pd.read_feather('./feather/publisher_proceeding.feather')#.to_csv('./tables/proceedings_publishers.csv',index=False)
publisher = pd.read_feather('./feather/publisher_table.feather')#.to_csv('./tables/publishers.csv',index=False)
proceeding = pd.read_feather('./feather/proceeding_table.feather')#.to_csv('./tables/proceedings.csv',index=False)
booktitle_proceeding = pd.read_feather('./feather/proceeding_booktitle.feather')#.to_csv('./tables/proceedings_booktitles.csv',index=False)

# All tables concerning booktiles (conferences)
booktitle = pd.read_feather('./feather/booktitles_table.feather')#.to_csv('./tables/booktitles.csv',index=False)

In [2]:
article

,key,title,journal_id
0,conf/www/RamamohanaraoF07,Patterns Based Classifiers.,1936
1,conf/www/ZhaiL07,Extracting Web Data Using Instance-Based Learn...,1936
2,conf/www/NguKN07,Editorial.,1936
3,conf/www/Ericsson07,The Effects of XML Compression on SOAP Perform...,1936
4,conf/www/MartinBMMPSMSS07,Bringing Semantics to Web Services with OWL-S.,1936
...,...,...,...
2987941,tr/gte/TR-0244-12-93-165,MetaObject Protocol Concepts for a RISC Object...,545
2987942,tr/gte/TR-0146-06-91-165,Towards a Transaction Management System for DOM.,545
2987943,tr/gte/TR-0222-10-92-165,DARWIN: On the Incremental Migration of Legacy...,545
2987944,tr/dec/SRC1997-018,"The 1995 SQL Reunion: People, Project, and Pol...",395
2987945,tr/ucb/erl-m79-28,Muffin: A Distributed Database Machine,1909

In [73]:
#rename columns of tables
academic.columns = ['academic_id','academic_name']
article.columns = ['article_id','article_title','journal_id']
author_article.columns = ['academic_id','article_id']
journal.columns = ['journal_id','journal_name']
proceeding.columns = ['proceeding_id','proceeding_title','year','volume']
publisher.columns = ['publisher_id','publisher_name']
booktitle.columns = ['booktitle_id','booktitle_name']
booktitle_proceeding.columns = ['proceeding_id','booktitle_id']
improceeding.columns = ['improceeding_id','improceeding_title','pages','year']
booktitle_improceeding.columns = ['improceeding_id','booktitle_id']

In [74]:
import duckdb
querry1 = "Select * from author_article"
duckdb.query(querry1).to_df()

         academic_id                article_id
0             972464         conf/www/HeMLYW07
1            2885951         conf/www/HeMLYW07
2            3022187         conf/www/HeMLYW07
3             517554         conf/www/HeMLYW07
4            3140055         conf/www/HeMLYW07
...              ...                       ...
9528486       647828  tr/gte/TR-0146-06-91-165
9528487      1864214  tr/gte/TR-0222-10-92-165
9528488      1870753  tr/gte/TR-0222-10-92-165
9528489           -1        tr/dec/SRC1997-018
9528490      1870753         tr/ucb/erl-m79-28

[9528491 rows x 2 columns]

In [99]:
querry2_1 = "SELECT article.article_title, journal.journal_name, academic.academic_name FROM article JOIN author_article ON author_article.article_id=article.article_id JOIN academic ON academic.academic_id=author_article.academic_id JOIN journal ON article.journal_id=journal.journal_id WHERE journal.journal_name='Theory Comput. Syst.' AND academic.academic_name='Martin Grohe' ORDER BY article.article_title"
querry2_2 = "SELECT article.article_title, journal.journal_name, academic.academic_name FROM article, journal, author_article, academic WHERE article.journal_id=journal.journal_id AND article.article_id=author_article.article_id AND academic.academic_name='Martin Grohe' AND journal_name='Theory Comput. Syst.'"
duckdb.query(querry2_1).to_df()

,article_title,journal_name,academic_name
0,Database Query Processing Using Finite Cursor ...,Theory Comput. Syst.,Martin Grohe
1,Learnability and Definability in Trees and Sim...,Theory Comput. Syst.,Martin Grohe
2,Tight Lower and Upper Bounds for the Complexit...,Theory Comput. Syst.,Martin Grohe